<h3>Post details</h3>
<hr>
<div *ngIf="post">
  <div>Id: {{ post.id }}</div>
  <div>Title: {{ post.title }}</div>
  <div>Decrciption: {{ post.description }}</div>
</div>
<a [routerLink]="['/posts']" class="btn btn-primary">To posts</a>