<div>
  <h3>Edit post</h3>
  <hr>
</div>

<div>
  <form [formGroup]="editPostForm" (ngSubmit)="onEditPostSubmit()">
    <div class="mb-3">
      <label for="">Title</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="mb-3">
      <label for="">Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update post</button>
  </form>
</div>
