<h3>Posts list</h3>
<hr>
<div>
  <a [routerLink]="['/posts','add']" class="btn btn-primary">Add post</a>
</div>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts$ | async">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.description }}</td>
      <td>
        <a [routerLink]="['/posts','edit', post.id]" class="btn btn-primary">Update</a>&nbsp;
        <a (click)="onDeletePost($event, post.id)" class="btn btn-danger">Delete</a>&nbsp;
        <a [routerLink]="['/posts','details', post.id]" class="btn btn-info">Details</a>
      </td>
    </tr>
  </tbody>
</table>
